* text=auto !eol
/build.properties-example -text
/pom.xml -text
src/main/java/org/onehippo/forge/sforcecomps/client/rest/SalesForceAuthInfo.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/sforcecomps/client/rest/SalesForceRestBrowser.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/sforcecomps/client/rest/SalesForceRestClient.java -text
src/site/checkstyle.xml -text svneol=unset#text/plain
src/site/site.xml -text svneol=unset#text/plain
src/site/xdoc/build-from-source.xml -text svneol=unset#text/plain
src/site/xdoc/gettingstarted.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#text/plain
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/sforcecomps/client/rest/SalesForceRestClientTest.java -text svneol=unset#text/plain
src/test/resources/log4j.dtd -text svneol=unset#text/plain
src/test/resources/log4j.xml -text svneol=unset#text/plain
